
	<table class='table table-secondary table-hover'>
		<thead>
			<tr>
				<th scope='col'>Index</th>
				<th scope='col'>ID</th>
				<th scope='col'>Nombre</th>
				<th scope='col'>Apellido</th>
				<th scope='col'>Email</th>
				<th scope='col'>Teléfono</th>
			</tr>
		</thead>
		<tbody>
			{{#each data}}
				<tr>
					<th scope="row">{{@index}}</th>
					<td>{{this.id}}</th>
					<td>{{this.nombre}}</td>
					<td>{{this.apellido}}</td>
					<td>{{this.email}}</td>
					<td>{{this.telefono}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
